* > *, * {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  background-color: #fdedc1;
  font-family: 'Helvetica Neue';
}
main {
  position: relative;
  margin: 0 auto;
  padding: 10px 20px;
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
header {
  text-align: center;
}
section {
  width: 100%;
  padding: 50px 100px;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.25rem;
}
input {
  font-size: 1.125rem;
  width: 160px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 6px 8px;
  border-radius: 10px;
  border: 1px solid #afafaf;
}
@media screen and (max-width: 1012px) {
  main {
    width: 90vw;
    padding: 50px 10px;
  }
  section {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 560px) {
  main {
    width: 100vw;
    padding: 100px 10px;
  }
  section {
    padding: 0;
  }
  .inputs {
    flex-direction: column;
    align-items: center;
  }
}
h1 {
  font-size: 2.5rem;
}

p.lead {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

/* Code */
pre {
  background-color: #eff0f1;
  padding: 1rem 1.5rem;
  color: #111111;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre.html .html-tag, pre.javascript .js-num {
  color: #942121;
}
pre.html .html-attr, pre.javascript .js-func {
  color: #da670b;
}
pre.html .html-string, pre.javascript .js-vName, pre.javascript .js-class {
  color: #0077cc;
}
pre.javascript .js-var {
  color: #0054a3;
}
